@tailwind base;
@tailwind components;
@tailwind utilities;

.quill {
    height: 100% !important;
    width: 100% !important;
}

.ql-editor {
    height: 100% !important;
    width: 100% !important;
    min-height: 240px;
}
    

.ql-container {
    height: 100% !important;
    width: 100% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.recharts-text.recharts-pie-label-text {
    font-size: x-small;
}